.vs/*
.vscode/*
src/DependencyInjection.InConsole/bin/*
src/DependencyInjection.InConsole/obj/*
test/DependencyInjection.InConsole.Test/bin/*
test/DependencyInjection.InConsole.Test/obj/*
example/DependencyInjection.InConsole.Example/bin/*
example/DependencyInjection.InConsole.Example/obj/*