.vs/*
.vscode/*
.idea/*
*.user
src/DependencyInjection.InConsole/bin/*
src/DependencyInjection.InConsole/obj/*
test/DependencyInjection.InConsole.Tests/bin/*
test/DependencyInjection.InConsole.Tests/obj/*
example/DependencyInjection.InConsole.Example/bin/*
example/DependencyInjection.InConsole.Example/obj/*
example/DependencyInjection.InConsole.Example.Autofac/bin/*
example/DependencyInjection.InConsole.Example.Autofac/obj/*
example/DependencyInjection.InConsole.Example.Generic/bin/*
example/DependencyInjection.InConsole.Example.Generic/obj/*
example/DependencyInjection.InConsole.Example.Autofac.Generic/bin/*
example/DependencyInjection.InConsole.Example.Autofac.Generic/obj/*
example/DependencyInjection.InConsole.Example.PropertyInjection/bin/*
example/DependencyInjection.InConsole.Example.PropertyInjection/obj/*
